{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>livestream</title>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link rel='stylesheet' href='{% static 'css/hw1.css' %}'>
    {% block homepagehead %}
    {% endblock %}
  </head>
  {% block homepage %}
  <body>
    <div class='container1'>
      {% block content %}
      
      {% endblock %}
    </div>
  </body>
  {% endblock %}
  
</html>