<!DOCTYPE html>
<html id="main" ::after>

<head>
  <title>hw1</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/static/css/hw1.css">
</head>

<body>
  <div class="grid-container">
    <div class="a">
      <div class="greyarea" ::after>
        <img src="/static/css/404_preview-320x180.jpg", class="t">
        <div class="text">
          <div class="textmargin">頻道名稱</div>
          <div>實況主名稱</div>
          <img src="/static/css/pepa.png" class="avatar">
        </div>
      </div>
    </div>
    <div class="a">
      <div class="greyarea" ::after>
        <img src="/static/css/404_preview-320x180.jpg", class="t">
        <div class="text">
          <div class="textmargin">頻道名稱</div>
          <div>實況主名稱</div>
          <img src="/static/css/pepa.png" class="avatar">
        </div>
      </div>
    </div>
    <div class="a">
      <div class="greyarea" ::after>
        <img src="/static/css/404_preview-320x180.jpg", class="t">
        <div class="text">
          <div class="textmargin">頻道名稱</div>
          <div>實況主名稱</div>
          <img src="/static/css/pepa.png" class="avatar">
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="a">
      <div class="greyarea" ::after>
        <img src="/static/css/404_preview-320x180.jpg", class="t">
        <div class="text">
          <div class="textmargin">頻道名稱</div>
          <div>實況主名稱</div>
          <img src="/static/css/pepa.png" class="avatar">
        </div>
      </div>
    </div>
    <div class="a">
      <div class="greyarea" ::after>
        <img src="/static/css/404_preview-320x180.jpg", class="t">
        <div class="text">
          <div class="textmargin">頻道名稱</div>
          <div>實況主名稱</div>
          <img src="/static/css/pepa.png" class="avatar">
        </div>
      </div>
    </div>
    <div class="a">
      <div class="greyarea" ::after>
        <img src="/static/css/404_preview-320x180.jpg", class="t">
        <div class="text">
          <div class="textmargin">頻道名稱</div>
          <div>實況主名稱</div>
          <img src="/static/css/pepa.png" class="avatar">
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="a">
      <div class="greyarea" ::after>
        <img src="/static/css/404_preview-320x180.jpg", class="t">
        <div class="text">
          <div class="textmargin">頻道名稱</div>
          <div>實況主名稱</div>
          <img src="/static/css/pepa.png" class="avatar">
        </div>
      </div>
    </div>
    <div class="a">
      <div class="greyarea" ::after>
        <img src="/static/css/404_preview-320x180.jpg", class="t">
        <div class="text">
          <div class="textmargin">頻道名稱</div>
          <div>實況主名稱</div>
          <img src="/static/css/pepa.png" class="avatar">
        </div>
      </div>
    </div>
    <div class="a">
      <div class="greyarea" ::after>
        <img src="/static/css/404_preview-320x180.jpg", class="t">
        <div class="text">
          <div class="textmargin">頻道名稱</div>
          <div>實況主名稱</div>
          <img src="/static/css/pepa.png" class="avatar">
        </div>
      </div>
    </div>
  </div>
</body>

</html>