<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <link rel='stylesheet' href='../static/css/hw1.css'>  
  </head>
  <body>
    <div class='container'>
      <div class="navbar">
        <div></div>
        <form>
          Account:
          <input type="text" name="firstname">
          Password:
          <input type="text" name="lastname">
          <input type="submit" value="Submit">
        </form>
      </div>
      {% for i in ttt %}
      <div class='row'> 
        {% for t in ttt %}
        <div class='col' :hover>
          <div class='preview'>
            <img src='../static/css/404_preview-320x180.jpg'>
          </div>
          <div class='bottom'>
            <div class='avatar'>
              <img src='../static/css/pepa.png'>
            </div>
            <div class='intro'>
              <div class='channel'>頻道名稱</div>
              <div class='ownername'>實況主名稱</div>
            </div>
          </div>
        </div>
        {%endfor%}     
      </div>
      {%endfor%}
    </div>
  </body>
</html>